body {
  font-size: .850rem;
  user-select: none;
}


/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 0 0 30px 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  /*background: linear-gradient(75deg, #1a3250, #15509d);*/
  background: linear-gradient(65deg, #40a191, #1a3250);
  /*width: 200px;*/
  width: 12.5rem;
  overflow: auto;
}

.hideMe{
  display: none !important;
}


.sidebar .nav-link {
  font-weight: 400;
  color: white;
}

.sidebar .nav-link:hover {
  background: #041e34;
  cursor: default;
}

.sidebar-toggle{
  background: linear-gradient(45deg, blue, green);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 2rem;
  z-index: 1;
}
.sidebar-toggle .middle-text{
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  position: absolute;
  top: 40%;
  color: white;
}
.sidebar-toggle .bottom{
  position: absolute;
  bottom: 1px;
}

/*main*/
.main{
  margin-left: 12.5rem;
  /*margin-left: 200px;*/
  box-sizing: border-box;
}

.form-control-dark {
  color: black;
  outline: none;
  background-color: #dde0e3;
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus, .form-control:focus{
  border-color: transparent;
  background-color: #dde0e3;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


/* Add blinking animation to text*/
.blink{
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.data-table-font-size{
  font-size: 0.75em;
}

.center-div{
  position: absolute;
  top: 25vh;
  margin: auto;
  max-width: 42em !important;
}

.myTabs{
  font-weight: bold;
  font-size: 1em;
  color: white;
  background: #858585;
  padding: 0.2em;
}

.myTabs.active{
  font-weight: bold;
  background: #c0e8d1;
  color: rgba(7, 7, 7, 0.71);
}
